@import url('https://fonts.googleapis.com/css2? family= Inter:wght@400;600;700 & display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: white;
}

.navegacao{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #a76565f7;
}

.figure{
    width: 40%;
    display: flex;
    padding-left: 55px;
    background-color: #a7656500;
}

.figure img{
    background-color: #a7656500;
}

.container-cabecalho ul li span{
    width: 0%;
    display: block;
    height: 2px;
    background-color: #9b1c0fad;
    transition: 0.5s;
}

.container-cabecalho ul li:hover span{
width: 100%;
transition: 0.5s;
}

.container-cabecalho{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    background-color: #a7656500;
}

.container-cabecalho ul{
    display: flex;
    gap: 20px;
    background-color: #a7656500;
}

.container-cabecalho ul li{
    background-color: #a7656500;
}

.container{
    display: flex;
    max-width: 1400px;
    margin: auto;
    background-color: #dbc5c5;
}

.section{
    max-width: 75%;
    margin: 0px auto;
}

.section ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #b78c8c80;
}

.section ul li{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 40px;
    padding: 0px 10px 0px 10px;
    gap: 6px;
    background-color: #cd9b9b;
    border-radius: 8px;
    border: 1px solid transparent
}

.section ul li:hover{
border: 1px solid #c12222b8;
}

.section ul li img{
    width: 140px;
    background-color: #cfc9c900;
    height: 80px;
}

.title{
    background-color: #cd9b9b;
}

.description{
    background-color: #cd9b9b;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.preco{
    background-color: #cd9b9b;
}

.button{
    padding: 5px;
    background-color: #ff1616;
    border-radius: 7px;
    border-color: transparent;
    transition: 0.5s;
}

.button:hover {
border-color: #9b0303;
transition: 0.5s;
}

.title-carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff1616ba;
    height: 60px;
}

.title-carrinho strong{
    background-color: #ff161600;
}

.container-pesquisa{
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
}

.input{
    border-color: transparent;
    height: 40px;
}

.button-pesquisar{
    padding: 10px;
    border-color: transparent;
    border-radius: 3px;
    background-color: #ff1616ba;
    transition: 0.5s;
}

.button-pesquisar:hover {
border-color: #9b0303;
transition: 0.5s;
}

.carrinho{
    width: 20%;
    height: 460px;
    background-color: #dbc5c5;
    margin: 12px 20px;
}

.carrinho ul{
    background-color: #e9d4d4bf;
    height: 340px;
    overflow-y: scroll;
    padding: 10px;
}

.carrinho ul li{
    background-color: #cd9b9b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    max-width: 100%;
    padding: 8px;
}

#description{
    background-color: #cd9b9b;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.carrinho ul li img{
    background-color: #cfc9c900;
    max-width: 60px;
    height: 60px;
}

.x{
    background-color: #ff0b0bb8;
    border-color: transparent;
    border-radius: 50%;
    padding: 3px;
    transition: 0.5s;
}

.x:hover{
border-color: #9b0303;
transition: 0.5s;
}

.carrinho-title{
    background-color: #cd9b9b;
}

.carrinho-description{
    background-color: #cd9b9b;
}

.carrinho-preco{
    background-color: #cd9b9b;
    width: 75px;
} 

.carrinho-button{
    background-color: #cd9b9b;
}

#section-final{
    background-color: #b5b0b0;
}

.carrinho-detalhes{
    background-color: #b5b0b0;
    display: flex;
    flex-wrap: wrap;
}

.carrinho-detalhes p{
    background-color: #b5b0b0;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 119px
}

#paragraph-1{
    background-color: #b5b0b0;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 115px;
    justify-content: flex-end;
    display: flex;
}

#paragraph-2{
    background-color: #b5b0b0;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 116px;
    display: flex;
    justify-content: flex-end;
}

.div-button{
    background-color: #b5b0b0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-button button{
    background-color: rgb(0 197 15 / 70%);
    margin: 10px;
    padding: 7px;
    border-color: transparent;
    border-radius: 7px;
    transition: 0.5s;
}

.div-button button:hover {
border-color: #1f7e08;
transition: 0.5s;
}
