/*@import url('https://fonts.googleapis.com/css2? family= Inter:wght@400;600;700 & display=swap');*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.navegacao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #a76565f7;
}

.figure{ 
    display: flex;
    width: 40%;
    padding-left: 50px;
}

.figure img{

}

.container-cabecalho ul li span{
    width: 0%;
    display: block;
    height: 2px;
    background-color: #9b1c0fad;
    transition: 0.5s;
}

.container-cabecalho ul li:hover span{
    width: 100%;
    transition: 0.5s;
}

.container-cabecalho{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    background-color: #a7656500;
}

.container-cabecalho ul{
    display: flex;
    gap: 20px;
    background-color: #a7656500;
}

.container-cabecalho ul li{
    background-color: #a7656500;
}

.container{
    display: flex;
    max-width: 100%;
    margin: auto;
    background-color: #dbc5c5;
    justify-content: space-around;
}

.section{
    max-width: 75%;
}

.lista{
    display: flex;
    margin: 27px 5px;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
    height: 95%;
    flex-wrap: wrap;
    background-color: #b78c8c80;
}

.list{
    width: 200px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 25px 40px;
    padding: 0px 10px 5px 10px;
    gap: 3px;
    background-color: #cd9b9b;
    border-radius: 8px;
    border: 1px solid transparent;
}

.list:hover{
border: 1px solid #c12222b8;
}

.container-img{
    width: 180px;
    height: 90px;
    margin-top: 10px;
    overflow: hidden;
    background-color: transparent;
}

.img{
    width: 100%;
    height: 80px;
}

.tipo{
    background-color: #c12222b8;
    margin-right: 120px;
    border: 0.5px solid black;
}

.div-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.title{
    background-color: #cd9b9b;
}

.description{
    background-color: #cd9b9b;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.span{
    display: block;
    background-color: #cd9b9b;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.button{
    padding: 5px;
    background-color: #ff1616;
    border-radius: 7px;
    border-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
border-color: #9b0303;
color: rgb(255, 255, 255, 0.7);
text-decoration: underline;
transition: 0.5s;
}

.title-carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff1616ba;
    height: 60px;
}

.title-carrinho strong{
    background-color: #ff161600;
}

.container-pesquisa{
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
}

.input{
    height: 40px;
    width: 65%;
    border-radius: 4px;
    border-color: transparent;
}

.button-pesquisar{
    width: 35%;
    padding: 10px;
    border-color: transparent;
    border-radius: 4px;
    background-color: #ff1616ba;
    transition: 0.5s;
}

.button-pesquisar:hover {
color: rgb(255, 255, 255, 0.7);
border-color: #9b0303;
transition: 0.5s;
}

.carrinho{
    width: 20%;
    background-color: #dbc5c5;
    margin: 12px 20px;
}

.lista-carrinho{
    background-color: #e9d4d4bf;
    height: 340px;
    overflow-y: scroll;
    padding: 10px;
}

.list-carrinho{
    background-color: #cd9b9b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    max-width: 100%;
    margin-top: 15px;
    padding: 8px;
    gap: 10px;
}

.list-carrinho figure{
    display: flex;
    width: 65px;
    height: 78px;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.list-carrinho p{
    display: none;
}

.list-carrinho .tipo{
    display: none;
}

.div{
    background-color: #cd9b9b;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.img-carrinho{
    background-color: #cfc9c900;
    max-width: 60px;
    height: 60px;
}

.x{
    background-color: #ff0b0bb8;
    border-color: transparent;
    border-radius: 50%;
    padding: 3px;
    transition: 0.5s;
}

.x:hover{
border-color: #9b0303;
transition: 0.5s;
}

.carrinho-title{
    background-color: #cd9b9b;
    font-size: 14px;
}

.carrinho-description{
    background-color: #cd9b9b;
}

.carrinho-preco{
    background-color: #cd9b9b;
    width: 75px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
} 

.carrinho-button{
    background-color: #cd9b9b;
}

#section-final{
    background-color: #b5b0b0;
}

.carrinho-detalhes{
    background-color: #b5b0b0;
    display: flex;
    flex-wrap: wrap;
}

.paragraph-3{
    background-color: #b5b0b0;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 50%;
}

.paragraph-2{
    background-color: #b5b0b0;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 115px;
    justify-content: flex-end;
    display: flex;
}

.paragraph-4{
    background-color: #b5b0b0;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 116px;
    display: flex;
    justify-content: flex-end;
}

.div-button{
    background-color: #b5b0b0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-button button{
    background-color: rgb(0 197 15 / 70%);
    margin: 10px;
    padding: 7px;
    border-color: transparent;
    border-radius: 7px;
    transition: 0.5s;
}

.div-button button:hover {
border-color: #1f7e08;
color: rgb(255, 255, 255, 0.9);
transition: 0.5s;
}
